body {
  font-family: 'Exo';
  font-size: 22px;
}

.wrapper-img {
  padding: 30px 90px;
}
h1 {
  text-transform: uppercase;
}
.title {
  margin: 0;
  font-weight: 900;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.description {
  font-weight: 400;
  width: 80%;
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.description span {
  text-decoration: line-through;
}

.box-container {
  color: white;
  height: 80vh;
  background-image: url('/public/Hero_image.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #cccccc; */
}

.wrap-text {
  width: 54%;
  padding: 90px 30px 30px 90px;
}

.section-2,
.section-3,
.section-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper-review {
  width: 30%;
  text-align: center;
}

.name-review {
  margin: 0;
}
/* .cta { */
/* body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #ffc300;
  border-radius: 999px;
  margin-top: 5rem;
}

.cta:hover {
  animation: burn 1000ms ease-out forwards;
}

.cta:hover::before {
  content: '';
  position: absolute;
  left: 40px;
  width: 100px;
  height: 40px;
  background: #ffc300;
  border-radius: 100%;
  animation: flare 1000ms ease-out forwards;
}

.cta:hover::after {
  content: '';
  position: absolute;
  right: 40px;
  width: 100px;
  height: 40px;
  background: #ffc300;
  border-radius: 100%;
  animation: flare 1000ms ease-out forwards;
}

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    color: #ff826e;
    background: #ffc300;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: #ffc300;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
